/*
 *
 */

public {
    org.apache.geronimo.security.jaas.RemoteLoginModule required
    debug=false
    uri="async://localhost:4242"
    realm="public-properties-realm"
    kernel="test.kernel";
};

black {
    org.apache.geronimo.security.jaas.RemoteLoginModule required
    debug=false
    uri="async://localhost:4242"
    realm="black-properties-realm"
    kernel="test.kernel";
};
