<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <bean id="TransactionManager" class="org.apache.geronimo.transaction.manager.GeronimoTransactionManager"/>

  <bean id="TrackedConnectionAssociator" class="org.apache.geronimo.connector.outbound.connectiontracking.ConnectionTrackingCoordinatorGBean">
    <constructor-arg index="0" ref="TransactionManager"/>
  </bean>

  <bean id="ThreadPool" class="org.apache.geronimo.pool.ThreadPool">
    <constructor-arg index="0" value="5"/>
    <constructor-arg index="1" value="pool"/>
    <constructor-arg index="2" value="5000"/>
    <constructor-arg index="3"><null/></constructor-arg>
    <constructor-arg index="4" value=":name=ThreadPool"/>
  </bean>

  <bean id="StatelessEjbContainer" class="org.openejb.slsb.DefaultStatelessEjbContainer">
    <constructor-arg index="0" ref="TransactionManager"/>
    <constructor-arg index="1" ref="TrackedConnectionAssociator"/>
    <constructor-arg index="2"><null/></constructor-arg>
    <constructor-arg index="3"><null/></constructor-arg>
    <constructor-arg index="4" value="false"/>
    <constructor-arg index="5" value="false"/>
    <constructor-arg index="6" value="false"/>
  </bean>

  <bean id="StatelessEjbDeploymentFactory" class="org.openejb.StatelessEjbDeploymentFactory">
    <property name="containerId" value=":name=MockEJB"/>
    <property name="ejbName" value="org.openejb.slsb.MockEJB"/>
    <property name="beanClassName" value="org.openejb.slsb.MockEJB"/>
    <property name="homeInterfaceName" value="org.openejb.slsb.MockHome"/>
    <property name="localHomeInterfaceName" value="org.openejb.slsb.MockLocalHome"/>
    <property name="remoteInterfaceName" value="org.openejb.slsb.MockRemote"/>
    <property name="localInterfaceName" value="org.openejb.slsb.MockLocal"/>

    <property name="ejbContainer" ref="StatelessEjbContainer"/>
  </bean>

  <bean id="StatelessEjbDeployment" factory-bean="StatelessEjbDeploymentFactory" factory-method="create"/>
</beans>
