<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
##
#set ($images = "http://openejb.apache.org/images")
#set ($siteroot = "http://cwiki.apache.org/OPENEJB")
##
#if ( $page.title.equals("Index") )
    #set ($title = "Home")
#else
    #set ($title = $page.title)
#end
##
#macro (renderPage $title)
    #set($globalHelper = $action.getGlobalHelper())
    #set($renderer = $globalHelper.getWikiStyleRenderer())

    ##
    ## FIXME: Must be a more efficent way to find a page...
    ##

    #foreach ($child in $page.space.pages)
        #if ($child.title.equals($title))
            #set ($content = $renderer.convertWikiToXHtml($child.toPageContext(), $child.content).trim())

            ##
            ## HACK: Remove the leading <P> and trailing </P>
            ##

            #set ($content = $content.replaceAll("^<[pP]>|</[pP]>$", "") )
            ##set ($content = $content.substring(3, $content.length()))
            ##set ($end = $content.length() - 4)
            ##set ($content = $content.substring(0, $end))

            $content
        #end
    #end
#end
#macro (renderRightSidePage $title)
    #set($globalHelper = $action.getGlobalHelper())
    #set($renderer = $globalHelper.getWikiStyleRenderer())

    ##
    ## FIXME: Must be a more efficent way to find a page...
    ##

    #foreach ($child in $page.space.pages)
        #if ($child.title.equals($title))
            #set ($content = $renderer.convertWikiToXHtml($child.toPageContext(), $child.content).trim())

            ##
            ## HACK: Remove the leading <P> and trailing </P>
            ##

            #set ($content = $content.replaceAll("^<[pP]>|</[pP]>$", "") )
            ##set ($content = $content.substring(3, $content.length()))
            ##set ($end = $content.length() - 4)
            ##set ($content = $content.substring(0, $end))
<div id="RightContent">
$content
</div>

        #end
    #end
#end
##
<HTML>
  <HEAD>
    <!-- $PAGETITLE -->
    <TITLE>OpenEJB - $title</TITLE>
    <LINK href="http://openejb.apache.org/all.css" rel="stylesheet" type="text/css">
    <!--[if IE]><link rel="stylesheet" type="text/css" media="screen, projection" href="openejb.apache.org/ie.css"><![endif]-->

    <LINK rel="SHORTCUT ICON" href="http://openejb.apache.org/images/favicon.ico">
    <SCRIPT language="JavaScript" src="http://cwiki.apache.org/confluence/pages/viewpage.action?spaceKey=OPENEJB&title=functions.js" type="text/javascript"></SCRIPT>
    <META http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </HEAD>
  <BODY>

    <!-- Delay the loading of the external javascript file needed for labels (as it takes too long to load and visibly holds loading of the page body) -->
    <!-- To do this without javascript errors over undefined functions, we need to declare stubs here (that are overrided later by the proper implementations) -->
    <SCRIPT language="JavaScript" type="text/javascript">
      function doAddLabel(hideTextfieldAfterAddParam)
      {
      // stub
      }

      function onAddLabel()
      {
      // stub
      }

      function showLabelsInput()
      {
      // stub
      }
    </SCRIPT>

    <A name="top"></A>
    <TABLE class="frameTable" cellpadding="0" cellspacing="0" border="0">
      <TR class="Row1">
        <TD class="Col1"><IMG alt="" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col2"><IMG alt="" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col3"><IMG alt="" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col4"><IMG alt="" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col5"><IMG alt="" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
      </TR>
      <TR class="Row2">
        <TD class="Col1"><IMG alt="" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col2">&nbsp;</TD>
        <TD class="Col3" id="breadcrumbs">
          <!-- $TOP_NAV_BAR -->
          #renderPage('QuickLinks')
        </TD>
        <TD class="Col4"><IMG alt="" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col5">&nbsp;</TD>
      </TR>
      <TR class="Row3">
        <TD class="Col1"><IMG alt="" class="Row3Img" id="thinLine" src="http://openejb.apache.org/images/line_sm.gif"></TD>
        <TD class="Col2"><IMG alt="" class="Row3Img" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col3"><IMG alt="" class="Row3Img" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col4"><IMG alt="" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col5"><IMG alt="" class="Row3Img" src="http://openejb.apache.org/images/dotTrans.gif"></TD>
      </TR>
      <TR class="Row4">
        <TD class="Col1">
          <SPAN id="Navigation">

            #renderPage("Navigation")

            <H3>
              <A name="Navigation-Feeds"></A>
              Feeds
            </H3>

            <UL class="feeds">
            <li>
              <A href="http://cwiki.apache.org/confluence/spaces/rss.action?key=OPENEJB&newPages=false">
              <IMG src="http://openejb.apache.org/images/rss.gif"></a>
              <A class="feedsText" href="http://cwiki.apache.org/confluence/spaces/rss.action?key=OPENEJB&newPages=false">Site</a>
            </li>

            <li><A href="http://cwiki.apache.org/confluence/spaces/blogrss.action?key=OPENEJB">
              <IMG src="http://openejb.apache.org/images/rss.gif"></a>
              <A class="feedsText" href="http://cwiki.apache.org/confluence/spaces/blogrss.action?key=OPENEJB">News</a>
            </li>
            </ul>
          </SPAN>
        </TD>
        <TD class="Col2">&nbsp;</TD>
        <TD class="Col3">
          <TABLE id="PageHeader" border="0" width="100%">
            <TR>
              <TD>
                <A href="http://openejb.org/">
                  <IMG hspace="0" src="http://openejb.apache.org/images/logo_openejb.gif" vspace="0">
                </A>
              </TD>
              <TD align="right">
                <A href="http://www.apache.org/">
                  <IMG src="http://www.apache.org/images/asf-logo.gif" width="258" height="66">
                </A>
              </TD>
            </TR>
            <TR>
              <TD  id="page_title">
                <!-- $TITLE -->
                $title
              </TD>

              <TD align="right">
                <br><br>
                <!-- Google CSE Search Box Begins  -->
                <FORM id="searchbox_010475492895890475512:_t4iqjrgx90" action="http://www.google.com/cse">
                  <INPUT type="hidden" name="cx" value="010475492895890475512:_t4iqjrgx90">
                  <INPUT type="hidden" name="cof" value="FORID:0">
                  <INPUT name="q" type="text" size="25">
                  <INPUT type="submit" name="sa" value="Search">
                </FORM>
                <SCRIPT type="text/javascript"
                        src="http://www.google.com/coop/cse/brand?form=searchbox_010475492895890475512:_t4iqjrgx90"></SCRIPT>
                <!-- Google CSE Search Box Ends -->

              </TD>
            </TR>
          </TABLE>
          <P>
            <!-- $BODY -->
            <DIV id="PageContent">
              $body
            </DIV>
          </P>
        </TD>
        <TD class="Col4"><IMG src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col5">
          #renderRightSidePage("${title}Links")
        </TD>
      </TR>
      <TR  class="Row5">
        <TD class="Col1">&nbsp;</TD>
        <TD class="Col2">&nbsp;</TD>
        <TD class="Col3">
          <br>
          <br>
          <IMG width="100%" height="1" src="http://openejb.apache.org/images/line_light.gif">
          <table width="100%">
            <tr>
              <td>
                <SPAN class="bodyGrey">
                  <SMALL>
                    <NOTICE><!-- $FOOTER -->
                      Apache OpenEJB is an project of The Apache Software Foundation (ASF)
                    </NOTICE>
                    <BR>
                    Site Powered by
                    <A href="http://atlassian.com/">Atlassian</A>
                    <A href="http://atlassian.com/confluence/">Confluence</A>
                    .
                  </SMALL>
                </SPAN>
              </td>
              <td align="right">
                <A style="color:#999;font-size:small;font-weight:normal;" href="$confluenceUri/pages/editpage.action?spaceKey=OPENEJB&title=$page.title">[ edit ]</A>
              </td>
            </tr>
          </table>
          <br>
        </TD>
        <TD class="Col4"><IMG src="http://openejb.apache.org/images/dotTrans.gif"></TD>
        <TD class="Col5">&nbsp;</TD>
      </TR>
    </TABLE>

    <!-- Needed for composition plugin -->
    <!-- delay the loading of large javascript files to the end so that they don't interfere with the loading of page content -->
    <SPAN style="display: none">
      <SCRIPT type="text/javascript" language="JavaScript"
              src="http://cwiki.apache.org/confluence/labels-javascript"></SCRIPT>

      <SCRIPT src="http://www.google-analytics.com/urchin.js" type="text/javascript">
      </SCRIPT>
      <SCRIPT type="text/javascript">
        _uacct = "UA-2717626-1";
        urchinTracker();
      </SCRIPT>
    </SPAN>

  </BODY>
</HTML>