/*
 *
 */
public {
    org.apache.geronimo.security.jaas.client.JaasLoginCoordinator required
    debug=false
    host="localhost"
    port="4242"
    realm="public-properties-realm";
};

black {
    org.apache.geronimo.security.jaas.client.JaasLoginCoordinator required
    debug=false
    host="localhost"
    port="4242"
    realm="black-properties-realm";
};

Xpublic {
    org.apache.geronimo.security.jaas.client.JaasLoginCoordinator required
    debug=false
    uri="async://localhost:4242"
    realm="public-properties-realm"
    kernel="geronimo.kernel";
};

Xblack {
    org.apache.geronimo.security.jaas.client.JaasLoginCoordinator required
    debug=false
    uri="async://localhost:4242"
    realm="black-properties-realm"
    kernel="geronimo.kernel";
};
