           <div id="api">
                <ul>
                    APIs:
#foreach( $api in $apis.entrySet() )
                    <li><a href="$api_prefix$api.key.replace('.', '/')$api_suffix">$api.key</a> is used $api.value times</li>
#end
                </ul>
            </div>