#parse("generate-index/velocity/header.vm")
            <h2>$title</h2>

            <div id="download">
                <a href="$link">Download as zip</a>
            </div>

            <div id="javaFiles">
                <ul>
                    Files:
#foreach( $file in $files )
                    <li><a href="${file}.html">$file</a></li>
#end
                </ul>
            </div>

            <div id="api">
                <ul>
                    APIs:
#foreach( $api in $apis.entrySet() )
                    <li>$api.key is used $api.value times</li>
#end
                </ul>
            </div>
#parse("generate-index/velocity/footer.vm")
