#parse("generate-index/velocity/header.vm")
<article>
    <div>
        <section>
#parse("generate-index/velocity/breadcrumb.vm")
            $content
        </section>
    </div>
<article>
#parse("generate-index/velocity/footer.vm")
