
    <footer>
        <p>
        Copyright &copy; 2011 The Apache Software Foundation, Licensed under the Apache License, Version 2.0.
        Apache and the Apache feather logo are trademarks of The Apache Software Foundation.
        </p>
      </footer>

    </div> <!-- /container -->

  <SPAN style="display: none">
    <SCRIPT src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </SCRIPT>
    <SCRIPT type="text/javascript">
      _uacct = "UA-2717626-1";
      urchinTracker();
    </SCRIPT>
  </SPAN>

  </body>
</html>
