#parse("generate-index/velocity/header.vm")
            <div id="checkboxes-button">
                <ul>
                    <li><input type="button" value="Aggregate" onclick="javascript:aggregate(this)" ></li>
                    <li><input type="button" value="Hide APIs" id="showCheckboxes" onclick="javascript:showCheckboxes()" ></li>
                    <li><input type="button" value="Select All" onclick="javascript:selectCheckboxes(true)" ></li>
                    <li><input type="button" value="Select None" onclick="javascript:selectCheckboxes(false)" ></li>
                </ul>
            </div>
            <div class="clear"></div>

            <div id="checkboxes-check">
                <ul>
#foreach( $api in $exampleByKeyword.keySet() )
                    <li><input type="checkbox" id="$classes.get($api)" checked="true" onclick="javascript:checkBoxClicked(this.id, this.checked)" >$api</li>
#end
                </ul>
            </div>

            <div id="list">
                <ul>
#foreach( $api in $exampleByKeyword.entrySet() )
                    <li class="$classes.get($api.key)">$api.key
                        <ul>
#foreach( $link in $api.value )
                            <li><a href="$link">$links.get($link)</a> <a href="$zipLinks.get($link)">Download zip</a></li>
#end
                        </ul>
                    </li>
#end
                </ul>
            </div>

            <div id="aggregate">
                <ul>
#foreach( $example in $examples.entrySet() )
                    <li class="$aggregatedClasses.get($example.value)"><a href="$example.value">$example.key</a> <a href="$zipLinks.get($example.value)">Download zip</a></li>
#end
                </ul>
            </div>
#parse("generate-index/velocity/footer.vm")
