<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>$title</title>
    <meta name="description" content="OpenEJB Examples">
    <meta name="author" content="OpenEJB">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="http://openejb.staging.apache.org/bootstrap.css" rel="stylesheet">
    <link href="http://openejb.staging.apache.org/prettify.css" rel="stylesheet">
    <link href="http://openejb.staging.apache.org/bootstrap-mods.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <link rel="shortcut icon" type="images/png" href="http://openejb.staging.apache.org/resources/image/favicon.png">

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" href="http://openejb.staging.apache.org/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://openejb.staging.apache.org/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://openejb.staging.apache.org/images/apple-touch-icon-114x114.png">

    <script src="http://openejb.staging.apache.org/javascript/prettify.js" type="text/javascript"></script>
    <script src="http://openejb.staging.apache.org/javascript/jquery-latest.js"></script>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    <script src="http://openejb.staging.apache.org/javascript/common.js"></script>
    <script src="http://openejb.staging.apache.org/javascript/prettyprint.js"></script>

    <link href="$base/css/openejb-examples.css" type="text/css" rel="stylesheet" />
#if ($javascripts )
#foreach( $js in $javascripts )
    <script src="$base/javascript/$js"></script>
#end
#end
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="./index.html">Apache TomEE</a>
          <ul class="nav">
            <li><a href="http://openejb.staging.apache.org/index.html">Home</a></li>
            <li><a href="http://openejb.staging.apache.org/downloads.html">Downloads</a></li>
            <li><a href="http://openejb.staging.apache.org/documentation.html">Documentation</a></li>
            <li><a href="http://openejb.staging.apache.org/support.html">Support</a></li>
          </ul>

            <!-- Google CSE Search Box Begins  -->
            <FORM class="pull-right" id="searchbox_010475492895890475512:_t4iqjrgx90" action="http://www.google.com/cse">
                <INPUT type="hidden" name="cx" value="010475492895890475512:_t4iqjrgx90">
                <INPUT type="hidden" name="cof" value="FORID:0">
                <INPUT name="q" type="text" placeholder="Search">
            </FORM>
            <!--<SCRIPT type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_010475492895890475512:_t4iqjrgx90"></SCRIPT>-->
            <!-- Google CSE Search Box Ends -->
        </div>
      </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>$title</h1>
        </div>