#set( $version = $tomeeVersion )
#set( $upgrades = $utils.load("org.apache.openejb.tools.release.Upgrades") )
#set( $upgrades = $upgrades.add("TOMEE", [$tomeeVersion]) )
#set( $upgrades = $upgrades.add("OPENEJB", [$openejbVersion]) )
#set( $upgrades = $upgrades.add("OWB", ["1.1.7"]) )
#set( $upgrades = $upgrades.add("AMQ", ["5.7.0"]) )
#set( $upgrades = $upgrades.add("CXF", ["2.6.3"]) )
#set( $upgrades = $upgrades.add("MYFACES", ["2.1.10"]) )
#set( $issues = $upgrades.issues.unique("key") )

Apache TomEE $version

$date

<h2>Upgrades</h2>

<ul>
#foreach ( $issue in $issues.equals("type", "Dependency upgrade") )
    <li><a href="https://issues.apache.org/jira/browse/$issue.key">$issue.key</a> $issue.summary</li>
#end
</ul>

<h2>New Features</h2>

<ul>

#foreach ( $issue in $issues.equals("type", "New Feature") )
<li><a href="https://issues.apache.org/jira/browse/$issue.key">$issue.key</a> $issue.summary</li>
#end
</ul>

<h2>Improvements</h2>

<ul>

#foreach ( $issue in $issues.equals("type", "Improvement") )
<li><a href="https://issues.apache.org/jira/browse/$issue.key">$issue.key</a> $issue.summary</li>
#end
</ul>

<h2>Bugs</h2>

<ul>

#foreach ( $issue in $issues.equals("type", "Bug") )
<li><a href="https://issues.apache.org/jira/browse/$issue.key">$issue.key</a> $issue.summary</li>
#end
</ul>

<h2>Tasks & Sub-Tasks</h2>

<ul>



#foreach ( $issue in $issues.equals("type", "Task") )
<li><a href="https://issues.apache.org/jira/browse/$issue.key">$issue.key</a> $issue.summary</li>
#end
#foreach ( $issue in $issues.equals("type", "Sub-task") )
<li><a href="https://issues.apache.org/jira/browse/$issue.key">$issue.key</a> $issue.summary</li>
#end

</ul>
