/* by le Studio Atos Worldline */
/**** Date: october 2011 ****/
/**** openEJB project *********/

/* RESET ---------------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
blockquote,th,td,header{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,th,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
q:before,q:after{ content:'';}
abbr,acronym{ border:0;}
.invisible{ display: none;}
.right {float: right}
.left {float: left}
.center {text-align: center}
.error {color: red}
.bold {font-weight: bold}

/* Prise en charge de HTML 5 */
header, section, footer, aside, nav, article, figure {display: block;}

/* Generique */
/*************/
body {
	font: 101%/1.2 Arial, Verdana, Helvetica, sans-serif;
	background: #F6F6F5;
	margin: 0;
	padding: 0;
	color: #525252;
	
}

//h1 {float: right; width: 148px; height: 42px; margin: 16px 8px 5px 10px;}
h1 a img {border: none;}

h3 {font-size: 18px; margin-bottom: 10px;}


a {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover, a:active, a:focus { text-decoration: underline;}

/* Structure */
body > * {
	width: 585px;
	margin: 0 auto;
}

/* HEADER --------------------------------------------------------------------*/
body > header {
	height: 62px;
	width: 100%;
	background: #E8E8E8;
  position: relative;
}

body > header > h1 {
	display: block;
	background: transparent url(http://openejb.staging.apache.org/resources/image/logo_apache.png) no-repeat;
    height: 42px;
    float: right; width: 148px; height: 42px; margin: 16px 8px 5px 10px;
}
body > header form {
  float: right;
  margin: 20px 155px 0 0;
}

/* NAVIGATION ----------------------------------------------------------------*/
nav {
position: absolute;
  width: 193px;
  margin-left: 20px;
  background: url(http://openejb.staging.apache.org/resources/image/bg_nav.png) repeat-y 5px 0;
  }
header nav h2 {
	display: block;
	background: transparent url(http://openejb.staging.apache.org/resources/image/logo_openEJB.png) no-repeat;
    height: 130px;
    width: 193px;
}
  nav h3{
  font-size: 16px;
  padding-left: 20px;
  margin: 0;
  }
nav ul {
  list-style: none;
  padding-left: 5px;
 }
nav ul li {font-size: 12px;}
nav ul a, nav ul a:visited {
	padding: 1px 5px;
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
	color: #5D5D5D;
}
nav ul a:hover,
nav ul a:active,
nav ul a:focus {text-decoration:underline}
nav ul a.active {
  width: 163px;
  color: #d33603;
  background: url(http://openejb.staging.apache.org/resources/image/bg_active_link.png) repeat-x 0 12px;
  padding: 1px 0;
  font-style: normal;
}
nav ul a.active em {
  background: #eeede9;
  padding: 1px 10px 1px 5px;
}

/* MAIN ----------------------------------------------------------------------*/
section.main {
	overflow: hidden;
	width: 100%;
}

section.main h2 {
  color: #01b8a9;
  font-size: 20px;
  text-align: center;
  width: 585px;
}
section.main h2.cool {
  text-align: left;
  padding-bottom: 10px;
}
/*  ----------------------------------------------------------------*/

section.main > section, section.main > article {
	width: 585px;
	margin: 10px auto;
	padding: 10px;
}

section.main > section, section.main > article.aside {
	width: 80%;
	margin: 10px 0 10px 225px;
	padding: 10px;
}


/* SIDE BLOCK ----------------------------------------------------------------*/
aside {
	float: right;
	width: 265px;
	margin: 0 10px;
}
.self {/*margin-top: 140px;*/}
aside section {
  margin: 0 0 10px 0;
	padding: 10px;
	background: #f1f0f0;
	-moz-box-shadow:  0 4px 4px #b7aea5;
	-webkit-box-shadow:  0 4px 4px #b7aea5;
	box-shadow:  0 4px 4px #b7aea5;
}

aside nav ul {padding-bottom: 10px;}

aside section p {padding: 3px 0;}
aside nav ul li {
	display: block;
	margin: 3px 0 3px 5px;
	font-size: 13px;
	color: #655c53;
	background: transparent;
}
aside nav ul li a, aside nav ul li a:visited {
	color: #655c53;
	font-size: 13px;
	padding: 3px 5px;
	display: block;
}
aside nav ul li a:hover, aside nav ul li a:active, aside nav ul li a:focus {
  text-decoration: underline;
}

aside h3 {
    border-bottom: 1px solid #d33603;
    font-size: 14px;
}

aside h4 {
	font-size: 14px;
	font-weight: bold;
	color: #575757;
	background: #f1f0f0;
	margin: 0 0 10px 0;
	padding: 5px 10px;
}




/* ACTIONS BLOCK -------------------------------------------------------------*/

section.main > article > section.actions {
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  width: 100%;
  background: none;
  border: none;
}
section.actions nav ul {}
section.actions nav ul li {

}
section.actions nav ul li span {
  display: inline-block;
  color: #655c53;
	font-size: 12px;
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 10px;
	margin: 0 5px;
}
section.actions nav ul li a,section.actions nav ul li a:visited {
  display: inline-block;
  color: #655c53;
	font-size: 12px;
	background: #e5dfd7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 10px;
	margin: 0 5px;
	cursor:pointer;
	text-decoration: none;
}
section.actions nav ul li a:hover, section.actions nav ul li a:active, section.actions nav ul li a:focus {text-decoration: underline;}


/**********************************************************/

/* section STEPS *********************************************************/
section.main > section.steps {
  margin: 0 auto;
  padding: 0 10px 0 10px;
  width: auto;
}

section.steps ul { padding: 10px 0 20px 0; text-align: center;}
section.steps ul li {
  display: inline; 
  padding: 6px 0 6px 35px; 
  margin: 0 45px 0 0;
  color: #a49582;
  font-size: 16px;
  }
section.steps ul li.one {
  background: url(http://openejb.staging.apache.org/resources/image/picto_step_1.png) no-repeat top left;
  color: #01988c;
}
section.steps ul li.two {
  background: url(http://openejb.staging.apache.org/resources/image/picto_step_2.png) no-repeat top left;
}

section.steps ul li.three {
  background: url(http://openejb.staging.apache.org/resources/image/picto_step_3.png) no-repeat top left;
}
section.steps ul li.four {
  background: url(http://openejb.staging.apache.org/resources/image/picto_step_4.png) no-repeat top left;
}

/* section alerte */
section.main > article > section.alerte {
  width: 585px;
	margin: 0 0 10px 0;
	padding: 10px;
	background: url(http://openejb.staging.apache.org/resources/image/bg_alerte.png) repeat 0 0;
	font-size: 12px;
	color: #f86402;
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	
}
section.alerte p {
  color: #f86402;
  padding: 2px 0;
  
}
/******************** all sections ******************************/

section.main > article > section {
  width: 585px;
	margin: 0 0 10px 0;
	padding: 10px;
	background: #f6f5f4;
	border: 1px solid #e0d8ce;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
section.main > article > div > section {
  width: 760px;
	margin: 0 0 10px 0;
	padding: 10px;
}

section h3 span {
	padding: 3px 10px;
	color: #5D5D5D;
	
}
section p {
  font-size: 12px;
  color: #655c53;
  padding: 7px 0;
  vertical-align: middle;
}

section p em {
  color: #01b8a9;
  font-weight: bold;
  font-size: 14px;
  font-style: normal;
}
section label {
  display: inline-block;
  width: 175px;
  padding: 0 25px 0 0;
  text-align: right;
}
section label.lRadio {
  width: auto;
}
section label em {
  color: #e84b1d;
  padding-right: 3px;
}
section input[type=text] {
  width: 290px;
  padding: 3px 5px;
  border: 1px solid #e8e6e6;
  color: #655c53;
}


/* section coordonnees */


section.coord label.lRadio {
  width: auto;
}

section.coord input[type=text] {
  width: 290px;
  padding: 3px 5px;
  border: 1px solid #e8e6e6;
  color: #655c53;
}
section.coord input.codepost[type=text] {
  width: 100px;
}

/* section autres informations */


section.inform p.no {
  font-size: 12px;
  color: #e84b1d;
  padding: 7px 0 0 200px;
  margin-bottom: -9px;
}

section.inform label.lSelect {
  width: auto;
  padding: 0 5px 0 15px;
}
section.inform label.first {
  padding: 0 5px 0 0;
}


section.inform input.no[type=text] {
  width: 290px;
  padding: 3px 5px;
  border: 1px solid #e84b1d;
  color: #e84b1d;
}
section.inform input.codepost[type=text] {
  width: 100px;
}

/* section achats **/
section.achats p {
  padding: 2px 0;
}
section.achats p span {
  display: inline-block;
  float: right;
}
Section.achats ul li {
  border-bottom: 1px solid #d6cabb;
  padding-bottom: 5px;
}
Section.achats ul li.last {
  border-bottom: none;
  padding-top: 5px;
}
/**************************/
/*  input TYPE: checbox, radio, select, goes with class="styled" and custom-form-elements.js */
/*************************/
.checkbox, .radio {
	width: 19px;
	height: 17px;
	padding: 0 5px 0 0;
	background: url(http://openejb.staging.apache.org/resources/image/checkbox.png) no-repeat;
	display: inline-block;
}
.radio {
	background: url(http://openejb.staging.apache.org/resources/image/radio.png) no-repeat;
}
.select {
	position: absolute;
	width: auto; 
	height: 21px;
	padding: 0 24px 0 8px;
	margin: 0 10px 0 0;
	color: #000;
	font: 12px/21px arial,sans-serif;
	background: url(http://openejb.staging.apache.org/resources/image/select.png) no-repeat top right;
	border: 1px solid #eeedec;
	overflow: hidden;
}

/*****  action buttons ********/
section.main > article > section.buttons {
  width: 585px;
  background: transparent;
  border: none;
}
section.main > article > div > section.buttons {
  width: 585px;
  background: transparent;
  border: none;
}
section.buttons p {
  text-align: center;
}
section.tout p {
  text-align: right;
  padding: 0;
}
section.buttons p input[type=submit] {
  color: #FFF;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #c3c921;
	-moz-box-shadow:  inset 0 2px 4px #FFF, inset 0 -2px 4px #aab30d;
	-webkit-box-shadow:  inset 0 2px 4px #FFF, inset 0 -2px 4px #aab30d;
	box-shadow:  inset 0 2px 4px #FFF, inset 0 -2px 4px #aab30d;
	background: #c9cf26;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 15px 15px;
	margin: 0 5px;
	cursor:pointer;
}
section.buttons p input.all[type=submit] {
  background: transparent;
  color: #01988c;
  border: none;
  -moz-box-shadow:  none;
	-webkit-box-shadow:  none;
	box-shadow:  0 4px 4px #E2E2E2;
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
	padding: 5px;
	margin: 0 5px;
	cursor:pointer;
}

section.buttons p input[type=reset] {
  background: transparent;
  color: #01988c;
  border: none;
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
	padding: 15px 15px;
	margin: 0 5px;
	cursor:pointer;
}

section p.charge {
float: right;
margin-top: -60px;
}
section p.charge input[type=submit] {
  color: #FFF;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #c3c921;
	-moz-box-shadow:  inset 0 2px 4px #FFF, inset 0 -2px 4px #aab30d;
	-webkit-box-shadow:  inset 0 2px 4px #FFF, inset 0 -2px 4px #aab30d;
	box-shadow:  inset 0 2px 4px #FFF, inset 0 -2px 4px #aab30d;
	background: #c9cf26;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 15px 15px;
	margin: 0 5px;
	cursor:pointer;
}
/* CONTENT BLOCK -------------------------------------------------------------*/

/* FOOTER --------------------------------------------------------------------*/
footer {}


/* !!!SPECIFIC CONTENTS!!! -------------------------------------------------- */
/*  ------------------------------------------------------------*/

  




