pre {
    font-size: 1em;
    overflow: auto;
}

#PageContent {
    width: 100%;
}
#list, #aggregate {
    width: 600px;
    float: left;
}

#checkboxes-check {
    margin-right: 0;
    float: right;
    width: 25em;
    text-align: center;
}

.spacer {
    margin: 0px;
    width: 60em;
}

#checkboxes-button ul, #checkboxes-check ul, #header ul {
    list-style-type:none;
}
#floatingbar ul li {
    margin-top: -1.1em;
}
#checkboxes-button ul li {
    float:left;
}

#floatingbar {
    overflow: hidden;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 1.1em;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Arial;
    font-weight: bold;
    background-color: #5A5CB8;
}

#floatingbar ul {
    list-style-type:none;
}
#floatingbar ul li, #header ul li {
    float:left;
    color:#666;
}
#floatingbar ul li a {
    text-decoration:none;
    color:#000;
    padding-left: 10px;
    font-size:12px;
    font-weight:normal;
    font-family:Arial;
}
#floatingbar ul li a:hover {
    color:#000033;
}

.button {
    font-size: 0.9em;
    width: 20em;
}

#api-info {
    margin-top: 1em;
    margin-left: 3em;
}

.downloadzip {
    color: #ccc;
}
