#set( $void = $params.required( "serverUrl" , "https?://.+", "the base URL where jira is available, no trailing slash" ) )
#set( $void = $params.required( "projectId" , "[0-9]+", "the numeric id the project" ) )
#set( $void = $params.required( "projectName" , ".+", "the display name the project" ) )
#if ( $email == "true" )
#set( $void = $params.required( "to" , ".+", "the email 'To' address" ) )
#set( $void = $params.required( "from" , ".+", "the email 'From' address" ) )
#end
#set( $void = $params.validate() )
##
#set( $url = "${serverUrl}/secure/IssueNavigator.jspa?view=rss&&pid=${projectId}&status=1&tempMax=200&reset=true&decorator=none" )
#set( $jirarss = $rss.fetch( $url ) )
#set( $issues = $jirarss.fillAttachments() )
#set( $void = $date.format("yyyy-MM-dd") )
##
#if ( $email == "true" )
TO: $to
FROM: $from
SUBJECT: $issues.size() patches in the queue ($date)

#end
##
#foreach( $issue in $issues )
#set( $issue.attributes.totalAttachments = $issue.attachments.size() )
#end
#set( $issues = $issues.greater("@totalAttachments", 0) )
#foreach( $issue in $issues )
#set( $issue.attributes.firstPatch = $issue.attachments.min("created").created )
#end

$projectName - $date.as("EEEE, MMMM d, yyyy")

  $issues.size() Open Issues with Attachments

  (sorted oldest to newest)

#foreach( $issue in $issues.sort("@firstPatch") )
    [$issue.key] $issue.summary
      $date.format($issue.created)  $issue.reporter   $issue.type
#foreach ( $attachment in $issue.attachments.sort("created") )
      $date.format($attachment.created)  $attachment.author   $attachment.url
#end
      $issue.link

#end
