Redirect permanent /OPENEJBx30    http://openejb.apache.org/3.0
Redirect permanent /OPENEJB    http://openejb.apache.org

Redirect permanent /3.0/tomee.html              http://openejb.apache.org/3.0/apache-tomee.html
Redirect permanent /design.html			http://openejb.apache.org/3.0/design.html
Redirect permanent /design_appserver.html	http://openejb.apache.org/3.0/design-application-server.html
Redirect permanent /design_assembler.html	http://openejb.apache.org/3.0/design-assembler.html
Redirect permanent /design_bmpcontainer.html	http://openejb.apache.org/3.0/design-bmp-entitybean-container.html
Redirect permanent /design_classicassembler.html	http://openejb.apache.org/3.0/design-classic-assembler.html
Redirect permanent /design_cmpcontainer.html	http://openejb.apache.org/3.0/design-cmp-entitybean-container.html
Redirect permanent /design_configfactory.html	http://openejb.apache.org/3.0/design-configuration-factory.html
Redirect permanent /design_container.html	http://openejb.apache.org/3.0/design-container.html
Redirect permanent /design_intravm.html		http://openejb.apache.org/3.0/design-local-server.html
Redirect permanent /design_novaconfig.html	http://openejb.apache.org/3.0/design-nova-configuration-factory.html
Redirect permanent /design_openejb.html		http://openejb.apache.org/3.0/design.html
Redirect permanent /design_rafpassivator.html	http://openejb.apache.org/3.0/design-random-file-passivator.html
Redirect permanent /design_remoteserver.html	http://openejb.apache.org/3.0/design-remote-server.html
Redirect permanent /design_resmanager.html	http://openejb.apache.org/3.0/design-resource-manager.html
Redirect permanent /design_secservice.html	http://openejb.apache.org/3.0/design-security-service.html
Redirect permanent /design_simplepassivator.html	http://openejb.apache.org/3.0/design-simple-passivator.html
Redirect permanent /design_stfulcontainer.html	http://openejb.apache.org/3.0/design-stateful-sessionbean-container.html
Redirect permanent /design_stfulpassivator.html	http://openejb.apache.org/3.0/design-passivation-strategy.html
Redirect permanent /design_stlesscontainer.html	http://openejb.apache.org/3.0/design-stateless-sessionbean-container.html
Redirect permanent /design_txservice.html	http://openejb.apache.org/3.0/design-transaction-service.html
Redirect permanent /embedded-and-remotable.html http://openejb.apache.org/3.0/embedded-and-remotable.html
Redirect permanent /jndi-names.html     	http://openejb.apache.org/3.0/jndi-names.html


