body {
    background-color: #fff;
    font-family: arial, helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0px;
	font-size: 12px;
    line-height: 16px;
    color: #222222;
}

div {
  /* line-height: 1.5em; */
}

#RightContent {
  padding: 12px;
  padding-right: 4px;
  padding-left: 20px;
}

#RightContent .panel {
  border: 2px solid #a9a5de;
  font-size: 14px;
  padding: 0px;
  margin-bottom: .5em;
}

#RightContent .panelHeader{
  /*color: #efefff;*/
  /*background: #7270c2;*/
  background: #eef url(http://openejb.apache.org/images/openejb_buttonl.gif) no-repeat right;
  font-size: 14px;
  padding: 3px;
  padding-left: 5px;
  margin-bottom: .5em;
}
#RightContent .panelHeader b{
  /*padding-left: 9px;*/
}

#RightContent .panelContent {
  border: 0px;
  font-size: 12px;
  padding: 0px;
  margin-bottom: .5em;
}

#RightContent .panelContent .tableview {
  font-size: 9px;
}

#RightContent .panelContent .tabletitle {
  font-size: 10px;
}


.noteMacro { border-style: solid; border-width: 1px; border-color: #F0C000; background-color: #FFFFCE; text-align:left; margin-top: 5px; margin-bottom: 5px}
.warningMacro { border-style: solid; border-width: 1px; border-color: #c00; background-color: #fcc; text-align:left; margin-top: 5px; margin-bottom: 5px}
.infoMacro { border-style: solid; border-width: 1px; border-color: #3c78b5; background-color: #D8E4F1; text-align:left; margin-top: 5px; margin-bottom: 5px}
.tipMacro { border-style: solid; border-width: 1px; border-color: #090; background-color: #dfd; text-align:left; margin-top: 5px; margin-bottom: 5px}
.informationMacroPadding { padding: 5px 0 0 5px; }

.xwarningMacro {
  background: none #ffe0e0; 
  border: dashed #faa 1px; 
  color: #555;
  margin-top: 0; 
  margin-right: auto; 
  margin-bottom: 0; 
  margin-left: auto;
  padding: 0;  width: 90%;

}

a {
  color: #7270c2;
  text-decoration: none;
#  font-weight: bold;
}

.navLink a {
  font-weight: normal;
  color: #a9a5de;
}

.navLink {
  margin-left: 5px;
}

.navLink:first-line {
  margin-left: -5px;
}


a:link.selfref, a:visited.selfref {
}

a:link, a:visited {
}

a:active, a:hover {
  text-decoration: underline; 
}

a.plain:active, a.plain:hover {
  text-decoration: none; 
}

.sectionTitle a {
  text-decoration: underline; 
}
.subsectionTitle a {
  text-decoration: underline; 
}

span.highlight {  
  font-weight: bold;
  color: #ff0000;
}

#layout {
  margin: 0px;
  padding: 0px;
}

#banner {
  padding: 8px;
}

#breadcrumbs {
  border-top: 1px solid #cbcbeb;
  border-bottom: 1px solid #4b4b7e;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: x-small;
  color: #cccccc;
}

#breadcrumbs td {
  font-size: x-small;
}

#breadcrumbs a {
  font-weight: bold;
  color: #888;
}

#layout {
  /*border-top: 1px solid #009900;*/
  padding: 0px;
  margin: 0px;

}

.navSection {
  background-color: #7270c2;
  border: 1px solid #999999;
  border-top: none;
  padding: 0px;
  margin-bottom: 8px;
  font-size: small;
}

.navSection a {
  font-weight: normal;
  color: #a9a5de;
}

.navSectionHead {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  color: #000000;
  padding: 4px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #eeee00;
  font-weight: bold;
  font-size: x-small;
  color: #a9a5de;
}

.navLink {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 14px;
  font-size: small;
  color: #a9a5de;
}

.section {
  padding-bottom: 16px;
}

* + h1 {
  margin-top: 1.5em;
}

* + h2 {
  margin-top: 1.5em;
}

.sectionTitle, h1 {
  padding: 4px; 
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  color: #000000;
  font-size: 1.5em;
  background-color: #eeeeee;
#  color: #7270c2;
  font-weight: bold;
  margin-bottom: .5em;
  /* margin-top: 1em; */
}

.subsection {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body:first-child {
  padding-top: 0px;
}


h2 a {
  #color: #7068c0;
  color: #222;
  text-decoration: none;
#  font-weight: bold;
}

.subsectionTitle, h2 {
  padding-left: 5px;
  margin-top: 2em; 
  margin-bottom: .5em;
#  line-height: 0em;
#  border-bottom: 10px solid #999;
  border-left: 1px solid #9290e2;
  border-bottom: 1px solid #9290e2;
#  border-bottom: 1px solid #000;
#  background-color: #eeeeee;
#  background-color: #f5f5ff;
#  font-weight: bold;
  font-size: 14px;
}

.sectionTitle a {
  font-weight: normal;
}

.subsectionTitle a {
  font-weight: normal;
}

.subsubsection {
  padding-left: 30px;
}

.subsubsectionTitle, h3, .blogheading {
  font-weight: bold;
  border-bottom: 1px solid #bbb;
  padding: .1em;
  color: #555;
  margin-bottom: .5em;
}


.blogHeading a {
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
}

.blogheading {
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding: .1em;
  color: #000;
  margin-bottom: .5em;
}

.pagesubheading {
  color: #777;
}

h4 {
  margin-bottom: .5em;
  padding: .1em;
  border: 1px solid #ddd;

}

ins.inserted {
  text-decoration: none;
  font-weight: bold;
}

#leftColumn {
  width: 10em;
}

#leftColumn h3 {
  color: #cbcbeb;
  border-bottom: 1px solid #8280d2;
  border-right: 1px solid #8280d2;
  margin-bottom: .5em;
}

#leftColumn a {
  font-weight: inherit;
  color: #cbcbeb;
#  color: #4b4b7e;
}

#breadcrumbs a {
  font-weight: inherit;
}


p {
  margin: 0px;
  margin-bottom: 1em;
#  line-height: 1.2em;
#  padding-right: 20px;
  padding-left: 0px;
}

blockquote p {
  padding-left: 0px;
  padding-right: 0px;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1.5em;
}

ul ul {
  margin: 0px;
  padding-left: 1em;
}

li {
  margin: 0px;
  margin-right: 15%;
  line-height: 1.2em;
}

#leftColumn {
#  border-right: 7px solid #a9a5de;
  background-color: #7270c2;
  padding-right: 8px;
  padding-top: 8px;
  font-size: small;
}

#leftColumn a {
  font-size: smaller;
}

#leftColumn tt a {
  font-size: inherit;
}

#leftColumn h3 a {
  font-size: inherit;
}

tt {
  font-size: larger; 
}


#extraColumn {
  padding: 12px;
}

#navBox {
}

#rightColumn {
  padding: 12px;
  border-right: 1px solid #cccccc;
  font-size: small;
  padding-left: 16px;
  padding-right: 16px;
}



#contentBox {

}


table.confluenceTable
{
    margin: 5px;
    border-collapse: collapse;
}

td.confluenceTd
{
    border: 1px solid #ccc;
    padding: 3px 4px 3px 4px;
}

th.confluenceTh
{
    border: 1px solid #ccc;
    padding: 3px 4px 3px 4px;
    background: #f0f0f0;
    text-align: center;
}

table.bodyTable, table.wikitable {
  margin: 10px;
  border-collapse: collapse;
  border-spacing: 0pt;
  background-color: #eeeeee;
}

#Content table.grid {
  border: 1px solid #000000;
}

table.grid {
  padding: 0px;
  border-collapse: collapse;
  border-spacing: 0pt;
  margin-left: 1em;
  margin-right: 1em;
}

table.grid th {
  background-color: #eeeeee;
  font-size: smaller;
  padding: 4px;
  border: 1px solid #bbbbbb;
}

table.grid td {
  font-size: x-small;
  border: 1px solid #bbbbbb;
  padding: 3px;
}

table.bodyTable th, table.bodyTable td, table.wikitable th, table.wikitable td {
  border: 1px solid #999999;
  font-size: smaller;
  padding: 4px;
}


table.bodyTable th, table.wikitable th {
  text-align: left;
  background-color: #dddddd;
  border: 2px solid #999999;
  padding: 4px;
}

.nobr
  white-space: nowrap;
}

table.bodyTable td {
  padding: 4px;
}

/*
table.bodyTable th, table.wikitable th {
  border-bottom: 2px solid #999999;
}

table.bodyTable tr.a {
  background-color: #dedede;
}

table.bodyTable tr.b {
  background-color: #efefef;
}
*/


.code {
 	border: 1px dashed #3c78b5;
    font-size: 11px;
	font-family: Courier;
    margin: 10px;
	line-height: 13px;
}

.codeHeader {
    background-color: #f0f0f0;
 	border-bottom: 1px dashed #3c78b5;
    padding: 3px;
	text-align: center;
}

.codeContent {
    text-align: left;
    background-color: #f0f0f0;
    padding: 3px;
}

.code-keyword {
  color: #000091;
  background-color: inherit;
}

.code-object {
  color: #910091;
  background-color: inherit;
}

.code-quote {
  color: #009100;
  background-color: inherit;
}

.code-comment {
  color: #808080;
  background-color: inherit;
}


.code-xml .code-keyword {
  color: inherit;
  font-weight: bold;
}

.code-tag {
  color: #000091;
  background-color: inherit;
}

.preformatted {
        border: 1px dashed #3c78b5;
    font-size: 11px;
        font-family: Courier;
    margin: 10px;
        line-height: 13px;
}

.preformattedHeader {
    background-color: #f0f0f0;
        border-bottom: 1px dashed #3c78b5;
    padding: 3px;
        text-align: center;
}

.preformattedContent {
    background-color: #f0f0f0;
    padding: 3px;
}

pre {
    padding: 0px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: left;
}

.source {
  padding: 12px;
  margin: 1em;
  border: 1px solid #7270c2;
  border-left: 2px solid #7270c2;
  border-right: 2px solid #7270c2;
  color: #555555;
}


.java-keyword {
  color: #7270c2;
}

.java-object {
  color: #000099;
}
 
.java-quote {
  color: #990000;
}
 
#footer {
  padding-left: 4px;
  border-top: 3px solid #eeeeee;
  color: #888888;
  font-size: x-small;
}


blockquote {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 0px;
  color: #555;
  border-left: 1px solid #3c78b5;
}

input[type="text"] {
  margin: 0px;
  border: 1px solid #999999;
  background-color: #dddddd;
}

input.required {
  margin: 0px;
  border: 1px solid #990000;
}

input {
  border: 1px solid #999999;
}

textarea {
  border: 1px solid #999999;
}

textarea.required {
  border: 1px solid #990000;
}

label {
  font-size: smaller;
}

label.required {
  color: #990000;
}

.searchResults {
  color: black;
}

.searchResults b {
  color: #7270c2;
}


.linecomment { color: #bbbbbbb; }
.blockcomment { color: #bbbbbbb; }
.prepro { color: #0000BB; }
.select {}
.quote { color: #770000; }
.category1 { color: #7270c2; }
.category2 { color: #0000BB; }
.category3 { color: #0000BB; }

.monospaced { 
  margin: 1em;
  line-height: 1.7em;
  font-size: 1em;
  color: #777; 
}

#page_title {
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: .5em;
}

.greenbar {
  background-color: green;
}

.redbar {
  background-color: red;
}

tr.testpassed td {
  padding: 0px;
  padding-left: 1px;
  padding-right: 1px;
  margin: 0px;
}

tr td.noformatting {
  border: none;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0px;
}

.greybox {
  background: #f0f0f0;
  font-weight: bold; 
  text-decoration: none; 
  color: black;
  border: 1px solid #ddd;
  padding: 3px;
  margin: 1px 1px 1px 1px;
}

.ggreybox {
  font-style: italic;
#  font-weight: bold;
  margin-top: .5em;
  margin-bottom: .5em;
  background-color: #fff;
  border: 1px solid #eee;
  padding: .3em;
}

.panelContent {
  border: 1px solid #999;
  padding: 1em;
  margin: 1em;
}

.header_name {
	font-size: smaller;
	padding: 2px;
	padding-right: 1ex;
	border-right: 1px solid #555;
	background-color: #ccc;
}

.header_value {
	font-size: smaller;
	background-color: #ddd;
	padding: 2px;
}

.header_fields {
	width: 100%;
	border: 1px solid #999;
	background-color: #fff;
}

.email_body {
	margin: 2ex;
	padding: 1ex;
	padding-left: 2ex;
	padding-right: 2ex;
	border: 1px solid #999;
	font-size: smaller;
}

.email_body pre {
	padding: 0px;
	margin: 0px;
}

.email_body blockquote {
	padding: 0px;
	margin: 0px;
	border: 1px solid #ccc;
}

.msg_navblock {
	margin-bottom: 2ex;
	border: 1px solid #999;
	background-color: #fff;
}

.msg_navblock th {
	border: 1px solid #ccc;
	font-size: smaller;
}

.msg_navblock td {
	border: 1px solid #ccc;
	font-size: smaller;
}

.single_entry {
	border: 1px solid #aaa;
	padding: .5ex;
	padding-left: 1ex;
	border-left: 1px solid #090;
	margin: 2px;
	background-color: #eee;
}

.root_entry {
	border: 1px solid #aaa;
	padding: .5ex;
	padding-left: 1ex;
	border-left: 1px solid #090;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #eee;
}

.root_entry .sub_entry {
	padding: .5ex;
	padding-left: 1ex;
	margin: 2px;
	margin-left: 1ex;
	border-left: 1px solid #999;
}

.list_entry {
	border: 1px solid #aaa;
	padding: 1ex;
	margin-top: 1ex;
	margin-bottom: 1ex;
}

.list_entry td {
	border: 1px solid #999;
}

.project_entry {
	border: 1px solid #aaa;
	padding: 1ex;
	margin-top: 1ex;
	margin-bottom: 1ex;
}

.update-tabletitle {
  padding-left: 4px;
  color: #E24717;
  font-size: 13px;
  font-weight: bold;
}

.update-title a {
  font-size: 11px;
  text-decoration: underline; 
  font-weight: normal;
}

.update-description {
  font-size: smaller;
  line-height: 12px;
}

.update-details {
  font-size: smaller;
  color: #777777;
}

.update-details a {
  font-size: 10px;
  color: #777777;
}


div.Updated {
  margin-left: 13px;
  margin-right: 5px;
}

div.Updated td {
	border-bottom: 1px solid #bbb;
	padding: 4px;
	background-color: #fff;
}

div.Updated div.title {
  border: 1px solid #999;
  padding: 2px;
  background-color: #eee;
  font-weight: bold;
  color: #000;
}

div.Updated div.page a, div.Updated div.smalltext a {
  font-weight: normal;
  color: #8280d2;
}

div.Updated div.smalltext {
  font-size: 11px;
  text-align: left;
  font-weight: normal;
  color: #555;
}
