BODY { 
	background: #ffffff; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif"; 
	font-size: 8px;
}

A:link, 
A:visited, 
A:active { 
	text-decoration: none 
}

.userdata	{ 
	behavior: url('#default#userdata'); 
}

.bg { 
	background-repeat: no-repeat
}

.pageTitle {
	font-size: 35px; 
	font-family: arial, "Helvetica", "Arial", "sans-serif"; 
	line-height: 50px; 
	font-weight: bold; 
	color: #000000;
}

.pageSubTitle {
	font-size: 15px; 
	font-family: arial, "Helvetica", "Arial", "sans-serif"; 
	line-height: 70px; 
	font-weight: bold; 
	color: #444444;
}

.author {
	font-size: 15px; 
	font-family: arial, "Helvetica", "Arial", "sans-serif"; 
	line-height: 28px; 
	font-weight: bold; 
	color: #333333;
}

.bodyGrey { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif";
	line-height: 14px; color: #666666;
}

.bodyBlack { 
	font-size: 12px; 
	font-family: arial, helvetica, sans-serif;
	line-height: 16px; color: #222222;
}

.toc { 
	font-size: 12px; 
	font-family: arial, helvetica, sans-serif;
	line-height: 16px; color: #222222;
}

.bodyBlackOLD { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif";
	line-height: 14px; color: #222222;
}


h1 { 
	font-size: 24px; 
	font-family: arial, helvetica, sans-serif;
	line-height: 20px; color: #000000;
}

h2 { 
	font-size: 30px; 
	font-family: arial, helvetica, sans-serif;
	line-height: 80px; color: #000000;
}

h3 { 
	font-size: 20px; 
	font-family: arial, helvetica, sans-serif;
	line-height: 40px; color: #000000;
}

h4 { 
	font-size: 15px; 
	font-family: arial, helvetica, sans-serif;
	line-height: 25px; color: #000000;
}

h5 { 
	font-size: 12px; 
	font-family: arial, helvetica, sans-serif;
	line-height: 14px; color: #000000;
}

h6 { 
	font-size: 10px; 
	font-family:  "Tahoma", arial, helvetica,sans-serif ;
	line-height: 14px; color: #000000;
	font-weight: bold; 
}

.bodyCode { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif";
	line-height: 14px; color: #757585;
}

.command { 
	font-size: 12px; 
	font-family: courier new, "Tahoma", "Helvetica", "Arial", "sans-serif";
	line-height: 14px; color: #757585;
}

.code-title { 
	font-size: 12px; 
	font-family: arial, "Tahoma", "Helvetica", "Arial", "sans-serif";
	line-height: 12px; color: #666666;
}

.code-block { 
	font-size: 12px; 
	font-family: courier new, "Tahoma", "Helvetica", "Arial", "sans-serif";
	line-height: 16px; color: #757585;
}

.legalBlack { 
	font-size: 10px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif";
	line-height: 14px; color: #000000;
}

.legalGrey { 
	font-size: 9px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif";
	line-height: 14px; color: #999999;
}

.bigGrey { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif";
	line-height: 14px; color: #666666;
}

.projectBlack { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif";
	line-height: 11px; color: #000000;
}

.header { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif"; 
	line-height: 14px; 
	font-weight: bold; 
	color: #181818;
}

.teamMember { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif"; 
	line-height: 14px; 
	font-weight: bold; 
	color: #181818;
}

.teamMemberRole { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif"; 
	line-height: 14px; 
	font-weight: bold; 
	color: #A8A8A8;
}

.menuTopOn { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif"; 
	line-height: 0px; 
	color: #6763a9;
}

.menuTopOff { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif"; 
	line-height: 0px; 
	color: #999999;
}

.menuProjectOn { 
	font-size: 12px; 
	font-family: "Helvetica", "Arial", "sans-serif"; 
	line-height: 20px; 
	font-weight: bold; 
	color: #cbcbeb;
}

.menuProjectOff { 
	font-size: 12px; 
	font-family: "Helvetica", "Arial", "sans-serif"; 
	line-height: 20px; 
	font-weight: bold; 
	color: #ffffff;
}

.subMenuOn { 
	font-size: 11px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif"; 
	line-height: 30px; 
	font-weight: bold; 
	color: #4d4b7e;
}

.subMenuOff { 
	font-size: 10px; 
	font-family: "Tahoma", "Helvetica", "Arial", "sans-serif"; 
	line-height: 17px; 
	font-weight: bold; 
	color: #cbcbeb;
}


