#################################################
#
#  This is a version of the Procmail script I use 
#  to help me filter my my mail from the OpenEJB
#  mailing lists.
#  
#  The script may look strange to you, "What's
#  with all the Keywords: header fields?"
#  I'm not on an IMAP server, that's what.  If I
#  were, I'd just put the mail into the appropriate
#  folders like everyone else.  Nope, I am a truly
#  strange guy who uses procmail and MS Outlook to 
#  filter my mail.  I've got one foot in the *nix
#  world and the other in the M$ world.
#  
#  If you are in the same position, you can use 
#  this script to filter you mail using procmail,
#  then just setup a minimal ammount of rules in
#  MS Outlook to put your mail in the right folders.
#  
#  This script will assign any email related to 
#  OpenEJB to the "OpenEJB" category.  MS Outlook
#  interprets the Keywords: header field as the
#  category.  Thus, you can write an outlook rule
#  that reads like this:
#  
#     Apply this rule after the message arrives
#     when received throught the XYZ account
#       and assigned to OpenEJB
#     move it to the OpenEJB folder
#       and stop processing more rules
#       
#  The procmail recipe will assign the MS Outlook
#  categories, and MS Outlook will move them.
#
#  Additionally, if you setup your OpenEJB folder
#  to group by Categories, all the emails will be 
#  separated into Tasks, Patches, Development, etc.
#  
#  To do this, go to the OpenEJB folder and select
#  the menu option:
#     View->Current View->Customize Current View
#  
#  Click the button labeled "Fields..."
#  Add the Categories field. Click OK
#  Click the button labeled "Group By..."
#  Select the Categories item from the list.
#  Click OK.  Then click OK again. Done.
#  
#  
#  Information on procmail can be found at:
#  http://www.procamil.org
#  
#
#  David Blevins <david.blevins@visi.com>
#
#


#-----------------------------------------------
#  Filter emails from the Exolab lists
#-----------------------------------------------

:0
* ^.*Sender: minimalist@exolab.org
{
  # ------ Exolab OpenEJB-Dev  -----------------
  
  :0  fwHB
  * TO:.*openejb-dev
  | formail -A "Keywords: OpenEJB, exolab-dev"

  :0 A:
  /var/mail/dblevins
  #openejb/exolab-dev

  # ------ Exolab OpenEJB-CVS  -----------------
  
  :0  fwHB
  * TO:.*openejb-cvs
  | formail -A "Keywords: OpenEJB, exolab-cvs"

  :0 A:
  /var/mail/dblevins
  #openejb/exolab-cvs
}

#-----------------------------------------------
#  Filter emails from the SourceForge lists
#-----------------------------------------------

# ------  OPENEJB-USER  ------------------------

:0  fwHB
* TO:.*openejb-user@lists.sourceforge.net
| formail -A "Keywords: OpenEJB, User"  

:0 A:
/var/mail/dblevins
#openejb/user


# ------  OPENEJB-DEV  -------------------------

:0  fwHB
* TO:.*openejb-development@lists.sourceforge.net
* ! ^X-Sender:.*OpenEJB-CVS
| formail -A "Keywords: OpenEJB, Development"  

:0 A:
/var/mail/dblevins
#openejb/dev


# ------  OPENEJB-CVS  -------------------------

:0  fwHB
* TO:.*openejb-development@lists.sourceforge.net
* ^X-Sender:.*OpenEJB-CVS
| formail -A "Keywords: OpenEJB, CVS"  

:0 A:
/var/mail/dblevins
#openejb/cvs


# ------  OPENEJB-TASK  ------------------------

:0 HB
* ^From:.*noreply@sourceforge.net
* ^Subject:.*Task
* ^Project: OpenEJB
| formail -A "Keywords: OpenEJB, Task"

:0 A:
/var/mail/dblevins
#openejb/tasks


# ------  OPENEJB-PATCH  -----------------------

:0  fwHB
* ^From:.*noreply@sourceforge.net
* ^Subject:.*openejb-Patches
| formail -A "Keywords: OpenEJB, Patch"

:0 A:
/var/mail/dblevins
#openejb/tasks

