<html>
<head>
    <link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<a href="archives.html">archives</a> -  <a href="licenses.html">licenses</a> - <a href="notices.html">notices</a> - <a href="content">contents</a><br/><br/>
<h1>Notices</h1>

#foreach($notice in $notices)
    <h1>Notice</h1>
<pre>
$notice.text
</pre>
    <ul>
    #foreach($archive in $notice.archives)
        <li><a href="${reports.notices($archive)}">$archive.uri</a></li>
    #end
    </ul>
#end
</body>
</html>